name: Production Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Update Code on Server
        run: |
          cd "C:\xampp\htdocs"
          git pull origin main
